In [2]:
%reload_ext autoreload
%autoreload 2

In [3]:
from fastai.basics import *

# Rossmann

## Data preparation / Feature engineering

In addition to the provided data, we will be using external datasets put together by participants in the Kaggle competition. You can download all of them [here](http://files.fast.ai/part2/lesson14/rossmann.tgz). Then you shold untar them in the dirctory to which `PATH` is pointing below.

For completeness, the implementation used to put them together is included below.

In [4]:
PATH=Path('data/rossmann/')
table_names = ['train', 'store', 'store_states', 'state_names', 'googletrend', 'weather', 'test']
tables = [pd.read_csv(PATH/f'{fname}.csv', low_memory=False) for fname in table_names]
train, store, store_states, state_names, googletrend, weather, test = tables
len(train),len(test)

(1017209, 41088)

In [5]:
for df in tables:
    display(df.sample(2))

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
638040,1046,6,2013-12-07,7024,578,1,0,0,0
746250,1101,7,2013-09-01,0,0,0,0,0,0

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
112,113,d,c,20930.0,11.0,1999.0,0,NaN,NaN,NaN
528,529,d,c,12920.0,9.0,2012.0,0,NaN,NaN,NaN

      Store State
130     131    NW
1111   1112    NW

     StateName State
5      Hamburg    HH
15  Thueringen    TH

                file                     week  trend
1209  Rossmann_DE_NI  2013-05-26 - 2013-06-01     66
939   Rossmann_DE_RP  2013-11-24 - 2013-11-30     45

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
655,NordrheinWestfalen,2014-10-18,21,17,12,14,12,11,94,77,...,10.0,10.0,10.0,29,18,NaN,0.0,NaN,NaN,152
12807,Hamburg,2015-07-17,30,21,11,19,14,10,94,70,...,26.0,12.0,10.0,27,11,NaN,0.0,4.0,Rain,68

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
28353,28354,141,6,2015-08-15,1.0,0,0,0
39358,39359,1094,1,2015-08-03,1.0,1,0,1

We turn state Holidays to booleans, to make them more convenient for modeling. We can do calculations on pandas fields using notation very similar (often identical) to numpy.

In [6]:
train.StateHoliday = train.StateHoliday!='0'
test.StateHoliday = test.StateHoliday!='0'

`join_df` is a function for joining tables on specific fields. By default, we'll be doing a left outer join of `right` on the `left` argument using the given fields for each table.

Pandas does joins using the `merge` method. The `suffixes` argument describes the naming convention for duplicate fields. We've elected to leave the duplicate field names on the left untouched, and append a "\_y" to those on the right.

In [7]:
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

Join weather/state names.

In [8]:
display(weather.columns); display(state_names.columns)

Index(['file', 'Date', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees'],
      dtype='object')

Index(['StateName', 'State'], dtype='object')

In [9]:
weather = join_df(weather, state_names, "file", "StateName")

In pandas you can add new columns to a dataframe by simply defining it. We'll do this for googletrends by extracting dates and state names from the given data and adding those columns.

We're also going to replace all instances of state name 'NI' to match the usage in the rest of the data: 'HB,NI'. This is a good opportunity to highlight pandas indexing. We can use `.loc[rows, cols]` to select a list of rows and a list of columns from the dataframe. In this case, we're selecting rows w/ statename 'NI' by using a boolean list `googletrend.State=='NI'` and selecting "State".

&#10071; <font color='magenta'>[Ji's Note]:</font>
> need to learn more about `str` ops in pandas;
> - refer to Jake's _Python Data Science Handbook_ [Vectorized String Operation](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html)

In [10]:
googletrend.head()

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

In [11]:
googletrend.head()['week'].str.split(' - ', expand=True)

            0           1
0  2012-12-02  2012-12-08
1  2012-12-09  2012-12-15
2  2012-12-16  2012-12-22
3  2012-12-23  2012-12-29
4  2012-12-30  2013-01-05

In [12]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

The following extracts particular date fields from a complete datetime for the purpose of constructing categoricals.

You should *always* consider this feature extraction step when working with date-time. Without expanding your date-time into these additional fields, you can't capture any trend/cyclical behavior as a function of time at any of these granularities. We'll add to every table with a date field.

&#10071; <font color='magenta'>[Ji's Note]:</font>
> handy function for feature extraction on date columns

In [13]:
def add_datepart(df, fldname, drop=True, time=False):
    "Helper function that adds columns relevant to a date."
    fld = df[fldname]
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: attr = attr + ['Hour', 'Minute', 'Second']
    for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
    df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
    if drop: df.drop(fldname, axis=1, inplace=True)

In [14]:
add_datepart(weather, "Date", drop=False)
add_datepart(googletrend, "Date", drop=False)
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)

In [15]:
weather.head().T

,0,1,2,3,4
file,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen
Date,2013-01-01 00:00:00,2013-01-02 00:00:00,2013-01-03 00:00:00,2013-01-04 00:00:00,2013-01-05 00:00:00
Max_TemperatureC,8,7,11,9,8
Mean_TemperatureC,4,4,8,9,8
Min_TemperatureC,2,1,6,8,7
Dew_PointC,7,5,10,9,8
MeanDew_PointC,5,3,8,9,7
Min_DewpointC,1,2,4,8,6
Max_Humidity,94,93,100,100,100
Mean_Humidity,87,85,93,94,94
Min_Humidity,65,78,77,87,87
Max_Sea_Level_PressurehPa,1013,1028,1035,1036,1035
Mean_Sea_Level_PressurehPa,1005,1022,1030,1035,1034
Min_Sea_Level_PressurehPa,1001,1014,1026,1034,1033
Max_VisibilityKm,31,31,31,11,10
Mean_VisibilityKm,12,14,8,5,6
Min_VisibilitykM,4,10,2,2,3
Max_Wind_SpeedKm_h,39,24,26,23,16
Mean_Wind_SpeedKm_h,26,16,21,14,10
Max_Gust_SpeedKm_h,58,NaN,NaN,NaN,NaN
Precipitationmm,5.08,0,1.02,0.25,0
CloudCover,6,6,7,7,7
Events,Rain,Rain,Rain,Rain,Rain
WindDirDegrees,215,225,240,263,268
StateName,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen
State,NW,NW,NW,NW,NW
Year,2013,2013,2013,2013,2013
Month,1,1,1,1,1
Week,1,1,1,1,1
Day,1,2,3,4,5
Dayofweek,1,2,3,4,5
Dayofyear,1,2,3,4,5
Is_month_end,False,False,False,False,False
Is_month_start,True,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,True,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,True,False,False,False,False
Elapsed,1356998400,1357084800,1357171200,1357257600,1357344000

The Google trends data has a special category for the whole of the Germany - we'll pull that out so we can use it explicitly.

In [16]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

Now we can outer join all of our data into a single dataframe. Recall that in outer joins everytime a value in the joining field on the left table does not have a corresponding value on the right table, the corresponding row in the new table has Null values for all right table fields. One way to check that all records are consistent and complete is to check for Null values post-join, as we do here.

*Aside*: Why not just do an inner join?
If you are assuming that all records are complete and match on the field you desire, an inner join will do the same thing as an outer join. However, in the event you are wrong or a mistake is made, an outer join followed by a null-check will catch it. (Comparing before/after # of rows for inner join is equivalent, but requires keeping track of before/after row #'s. Outer join is easier.)

In [17]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [18]:
joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")
len(joined[joined.StoreType.isnull()]),len(joined_test[joined_test.StoreType.isnull()])

(0, 0)

In [19]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
joined_test = join_df(joined_test, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()]),len(joined_test[joined_test.trend.isnull()])

(0, 0)

In [20]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()]),len(joined_test[joined_test.trend_DE.isnull()])

(0, 0)

In [21]:
joined = join_df(joined, weather, ["State","Date"])
joined_test = join_df(joined_test, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()]),len(joined_test[joined_test.Mean_TemperatureC.isnull()])

(0, 0)

In [22]:
for df in (joined, joined_test):
    for c in df.columns:
        if c.endswith('_y'):
            if c in df.columns: df.drop(c, inplace=True, axis=1)

Next we'll fill in missing values to avoid complications with `NA`'s. `NA` (not available) is how Pandas indicates missing values; many models have problems when missing values are present, so it's always important to think about how to deal with them. In these cases, we are picking an arbitrary *signal value* that <font color='red'>doesn't otherwise appear in the data.</font>

In [23]:
for df in (joined,joined_test):
    df['CompetitionOpenSinceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1).astype(np.int32)

Next we'll extract features "CompetitionOpenSince" and "CompetitionDaysOpen". Note the use of `apply()` in mapping a function across dataframe values.

In [24]:
for df in (joined,joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

We'll replace some erroneous / outlying data.

In [25]:
for df in (joined,joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

We add "CompetitionMonthsOpen" field, limiting the maximum to 2 years to limit number of unique categories.

In [26]:
for df in (joined,joined_test):
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,  1, 14, 20,  8, 18,  6, 21,  5])

Same process for Promo dates. You may need to install the `isoweek` package first.

In [27]:
# If needed, uncomment:
# ! pip install isoweek

Requirement already satisfied: isoweek in /opt/anaconda3/lib/python3.7/site-packages (1.3.3)

In [28]:
from isoweek import Week
for df in (joined,joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
        x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

In [29]:
# snipet to learn about datetime datatype ops
df_tmp = joined.sample(5)
(df_tmp.Date - pd.to_datetime(df_tmp.apply(lambda x: Week(x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1)))

577496    1550 days
41107    42178 days
874191   41401 days
61657    42159 days
762640   41501 days
dtype: timedelta64[ns]

In [30]:
for df in (joined,joined_test):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

In [31]:
joined.to_pickle(PATH/'joined')
joined_test.to_pickle(PATH/'joined_test')

In [32]:
!ls -l {PATH}

total 555784
-rw-r--r-- 1 jupyter jupyter     86605 Jan 11  2017 googletrend.csv
-rw-r--r-- 1 jupyter jupyter 500557105 Mar 30 22:29 joined
-rw-r--r-- 1 jupyter jupyter  19343910 Mar 30 22:29 joined_test
-rw-r--r-- 1 jupyter jupyter   7730448 Apr 11  2017 rossmann.tgz
-rw-r--r-- 1 jupyter jupyter    317611 Sep 29  2015 sample_submission.csv
-rw-r--r-- 1 jupyter jupyter       265 Jan 11  2017 state_names.csv
-rw-r--r-- 1 jupyter jupyter     45010 Sep 29  2015 store.csv
-rw-r--r-- 1 jupyter jupyter      9051 Jan  6  2017 store_states.csv
-rw-r--r-- 1 jupyter jupyter   1427425 Sep 29  2015 test.csv
-rw-r--r-- 1 jupyter jupyter  38057952 Sep 29  2015 train.csv
-rw-r--r-- 1 jupyter jupyter   1518814 Jan 11  2017 weather.csv

## Durations

It is common when working with time series data to extract data that explains relationships across rows as opposed to columns, e.g.:
* Running averages
* Time until next event
* Time since last event

This is often difficult to do with most table manipulation frameworks, since they are designed to work with relationships across columns. As such, we've created a class to handle this type of data.

We'll define a function `get_elapsed` for cumulative counting across a sorted dataframe. Given a particular field `fld` to monitor, this function will start tracking time since the last occurrence of that field. When the field is seen again, the counter is set to zero.

Upon initialization, this will result in datetime na's until the field is encountered. This is reset every time a new store is seen. We'll see how to use this shortly.

In [33]:
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

We'll be applying this to a subset of columns:

In [34]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [35]:
#df = train[columns]
df = train[columns].append(test[columns])

Let's walk through an example.

Say we're looking at School Holiday. We'll first sort by Store, then Date, and then call `add_elapsed('SchoolHoliday', 'After')`:
This will apply to each row with School Holiday:
* A applied to every row of the dataframe in order of store and date
* Will add to the dataframe the days since seeing a School Holiday
* If we sort in the other direction, this will count the days until another holiday.

In [36]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We'll do this for two more fields.

In [37]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [38]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We're going to set the active index to Date.

In [39]:
df = df.set_index("Date")

Then set null values from elapsed field calculations to 0.

In [40]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [41]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(0).astype(int)

Next we'll demonstrate window functions in pandas to calculate rolling quantities.

Here we're sorting by date (`sort_index()`) and counting the number of events of interest (`sum()`) defined in `columns` in the following week (`rolling()`), grouped by Store (`groupby()`). We do the same in the opposite direction.

In [42]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [43]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

Next we want to drop the Store indices grouped together in the window function.

Often in pandas, there is an option to do this in place. This is time and memory efficient when working with large datasets.

In [44]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [45]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [46]:
df.reset_index(inplace=True)

Now we'll merge these values onto the df.

In [47]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [48]:
df.drop(columns,1,inplace=True)

In [49]:
df.head()

,Date,Store,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-09-17,1,13,0,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
1,2015-09-16,1,12,0,104,0,0,0,0.0,0.0,3.0,0.0,0.0,2.0
2,2015-09-15,1,11,0,103,0,0,0,0.0,0.0,2.0,0.0,0.0,3.0
3,2015-09-14,1,10,0,102,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
4,2015-09-13,1,9,0,101,0,9,-1,0.0,0.0,0.0,0.0,0.0,4.0

It's usually a good idea to back up large tables of extracted / wrangled features before you join them onto another one, that way you can go back to it easily if you need to make changes to it.

In [50]:
df.to_pickle(PATH/'df')

In [51]:
df["Date"] = pd.to_datetime(df.Date)

In [52]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [53]:
joined = pd.read_pickle(PATH/'joined')
joined_test = pd.read_pickle(PATH/f'joined_test')

In [54]:
joined = join_df(joined, df, ['Store', 'Date'])

In [55]:
joined_test = join_df(joined_test, df, ['Store', 'Date'])

The authors also removed all instances where the store had zero sale / was closed. We speculate that this may have cost them a higher standing in the competition. One reason this may be the case is that a little exploratory data analysis reveals that there are often periods where stores are closed, typically for refurbishment. Before and after these periods, there are naturally spikes in sales that one might expect. By ommitting this data from their training, the authors gave up the ability to leverage information about these periods to predict this otherwise volatile behavior.

In [56]:
joined = joined[joined.Sales!=0]

We'll back this up as well.

In [57]:
joined.reset_index(inplace=True)
joined_test.reset_index(inplace=True)

In [58]:
joined.to_pickle(PATH/'train_clean')
joined_test.to_pickle(PATH/'test_clean')

In [62]:
!ls -hl {PATH}

total 1.2G
-rw-r--r-- 1 jupyter jupyter 122M Mar 30 22:31 df
-rw-r--r-- 1 jupyter jupyter  85K Jan 11  2017 googletrend.csv
-rw-r--r-- 1 jupyter jupyter 478M Mar 30 22:29 joined
-rw-r--r-- 1 jupyter jupyter  19M Mar 30 22:29 joined_test
-rw-r--r-- 1 jupyter jupyter 7.4M Apr 11  2017 rossmann.tgz
-rw-r--r-- 1 jupyter jupyter 311K Sep 29  2015 sample_submission.csv
-rw-r--r-- 1 jupyter jupyter  265 Jan 11  2017 state_names.csv
-rw-r--r-- 1 jupyter jupyter  44K Sep 29  2015 store.csv
-rw-r--r-- 1 jupyter jupyter 8.9K Jan  6  2017 store_states.csv
-rw-r--r-- 1 jupyter jupyter  24M Mar 30 22:32 test_clean
-rw-r--r-- 1 jupyter jupyter 1.4M Sep 29  2015 test.csv
-rw-r--r-- 1 jupyter jupyter 475M Mar 30 22:32 train_clean
-rw-r--r-- 1 jupyter jupyter  37M Sep 29  2015 train.csv
-rw-r--r-- 1 jupyter jupyter 1.5M Jan 11  2017 weather.csv